<%= nav_bar fixed: :top, brand: "OSI DIGITAL" do %>
    <%= menu_group do %>
        <%= menu_item "Home", employees_home_path %>
        <%= menu_item "About Us", employees_aboutus_path %>
       
        <%= menu_item "Employee Information", employees_path %>
<h4>
        <div style= "padding-left:900px; padding-top:0px; ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
<a href="https://twitter.com/osi_digital" class="fa fa-twitter"></a> 
<a href="https://www.facebook.com/osidigital/" class="fa fa-facebook"></a>

</div>
</h4>

        <div style= "padding-left:820px; padding-top:0px;">
        <%= menu_item  current_user.email %>
   </div>
    <% end %>
    <% end %>

<img src = "https://osidigital.com/wp-content/uploads/2018/08/osi_logo_rgb.png" style="width:400px;height:150px;">

<p><h4>At OSI Digital, we’re in the relationship business. We offer expert business and technology solutions that accelerate digital transformation for our customers. Our services include the design, development and implementation of new solutions as well as the ongoing management, enhancement and support of our customers’ existing business systems.</h4></p>
<br>
<br>
<p><h4><a href="https://osidigital.com/careers/job_openings/"><u>Visit for Job Openings</u>></h4></p>