<title><h3 style="width:180px; margin:10px auto; padding:10px; text-align:center; background:white; color:black;" >Employees list</h3></title>

<br>
<center>
<div>
<%= form_with model: @employee, method: 'get' do |f| %>
  Search:
  <%= f.text_field :q, value: params[:q] ,placeholder:'Search employee by emp_name' %>
  <%= f.submit "search" %>
  <%= link_to "clear", employees_path %>
  <% end %>
  </div>
  <br>

</center>
<br>
<center>
<%= link_to "Downmload full data", employees_jagadeesh_path(format: :pdf), class: 'btn btn-primary'  %>
<br>
<br>
<table border="5" bordercolor=black; background:grey ; color:black ; width="65%"; >
<div style="text-align:center">
<thead style="text-align:center">

<th style="background-color:green ; color:white" >Name</th>
<th style="background-color:green ; color:white" >Depatment</th>
<th style="background-color:green ; color:white" >Salary</th>
<th style="background-color:green ; color:white" >created at</th>
<th style="background-color:green ; color:white" >updated at</th>
</thead>

<% @employees.each do |employee| %>
<tr style="text-align:center">
<td><%= employee.name %> </td>


<td><%= employee.department %></td>
<td><%= employee.salary %></td>
<td><%= employee.created_at %></td>
<td><%= employee.updated_at %></td>

<td><%= link_to "show", employee_path(employee) %></td>
<td><%= link_to "Edit", edit_employee_path(employee) %></td>
<td><%= link_to "delete", employee_path(employee), method: :delete, data: { confirm: "are u sure"} %></td>
<td><%= link_to "Downmload as PDF", employee_path(employee, format: :pdf), class: 'btn btn-primary'  %></td>




</td>
</tr>

<% end %>
</div>
</table>
<br>


<%= link_to "New Employee",new_employee_path %>
<%= glyph(:pencil) %> <i class="icon-pencil"></i>
</center>
<%= nav_bar fixed: :top, brand: "OSI DIGITAL" do %>
    <%= menu_group do %>
        <%= menu_item "Home", employees_home_path %>
        <%= menu_item "About Us", employees_aboutus_path %>
     
        <%= menu_item "Employee Information", employees_path %>
<h4>
        <div style= "padding-left:900px; padding-top:0px; ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
<a href="https://twitter.com/osi_digital" class="fa fa-twitter"></a> 
<a href="https://www.facebook.com/osidigital/" class="fa fa-facebook"></a>

</div>
</h4>

        <div style= "padding-left:820px; padding-top:0px;">
        <%= menu_item current_user.email %>
   </div>
    <% end %>
    <% end %>
<div class="col-lg-1">
<img src = "https://osidigital.com/wp-content/uploads/2018/08/osi_logo_rgb.png" style="width:200px;height:80px;">
</div>